.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.active {
  font-weight: bold;
  color: red;
}

table {
  max-height: 400px;
  display: inline-block;
  overflow: auto;
}

.inline {
  display: inline;
}
